	
<html>
    <head>
        <title>Steam Friend Ranker</title>
       

      <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.0/css/bootstrap-combined.min.css"> 
    
    
  
		<link href="http://safe-woodland-4385.herokuapp.com/media/style/style.css" rel="stylesheet" type="text/css">
    
    
    </head>
    <body>
	    <header>		
			<div class="page-header">		
				<h1>Rank My Steam Friends<small>See how much in common your friends have with you</small></h1>
			</div>
		</header>
	     <div id="content">
			{% if error_message %}<div class="alert alert-error">
				{{ error_message }}</strong></p>
			</div>
			{% endif %}   


			<h2>Venn Diagram</h2>
			<h3>Key</h3>
				<div id="key"><ul><li>Green: {{username}}'s unique games</li><li>Blue: Games in Common</li>
					<li>Red: {{friend}}'s unique games</li></ul></div>

			
			<div id="table-container" style="margin:0 auto;">
			<div class="user-unique-games"  style="float: left">			
					<table class="table table-condensed table-hover" width="300">
						<tr><th class="success">{{username}}'s unique games</th></tr>
						<tbody>
							{%for game in user_game_list%}
								{% if game not in friend_game_list%}
									<tr class="success"><td>{{game}}</td></tr>
								{% endif%}
							{%endfor%}
						</tbody>
					</table>
			</div>
			<div class="friend-unique-games"  style="float: right">			
					<table width="300" class="table table-condensed table-hover">
						<tr><th class="error">Games in Common</th></tr>
						<tbody>
							{%for game in friend_game_list%}
								{% if game not in user_game_list%}
									<tr class="error"><td>{{game}}</td></tr>
								{% endif%}
							{%endfor%}
						</tbody>
					</table>
			</div>
			<div class="common-games"  style="display: inline">			
					<table class="table table-condensed table-hover"  style="margin-left: auto;
margin-right: auto; width:300">
						<tr><th class="info">{{friend}}'s unique games</th></tr>
						<tbody>
							{%for game in user_game_list%}
								{% if game in friend_game_list%}
									<tr class="info"><td>{{game}}</td></tr>
								{% endif%}
							{%endfor%}
						</tbody>
					</table>
			</div>

			
		</div>
		</div>
<!-- 

		<h2>{{username}}'s Games</h2>
			<h3>Key</h3>
			<div id="key"><ul><li>Blue: Games in common</li><li>Red: Games {{friend}} doesn't have</li></ul></div>
		{% if user_game_list %}
		<div class="rankList">			
				<table class="table table-condensed table-hover">
					<tbody>
						{%for game in user_game_list%}
							{% if game in friend_game_list%}
								<tr class="info"><td>{{game}}</td></tr>
							{% else %}
								<tr class="error"><td>{{game}}</td></tr>
							{% endif%}
						{%endfor%}
					</tbody>
				</table>
		</div>
		{% endif %}   
	

		<h2>{{friend}}'s Games</h2>
		<h3>Key</h3>
		<div id="key"><ul><li>Blue: Games in common</li><li>Red: Games {{username}} doesn't have</li></ul></div>
		{% if friend_game_list %}
		<div class="friend-list">			
				<table class="table table-condensed table-hover">
					<tbody>
							{%for r in friend_game_list%}
								{% if r in user_game_list%}
									<tr class="info"><td>{{r}}</td></tr>
								{% else %}
									<tr class="error"><td>{{r}}</td></tr>
								{% endif%}
							{% endfor %}
					</tbody>
				</table>
		</div>
		{% endif %}   
		</div> -->
    </body>
</html>