<!DOCTYPE html>
<html>
   <head>
      <title>Steam Friend Ranker</title>
         <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.0/css/bootstrap-combined.min.css"> 
      <link href="http://safe-woodland-4385.herokuapp.com/media/style/style.css" rel="stylesheet" type="text/css" />

      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
       <script type="text/javascript" src="http://mbostock.github.com/d3/d3.js"></script>
   </head>
   <script type="text/javascript">             
	   function onClicked(){ 
	      $("#loadingImage").css({"margin-left": "auto", "margin-right":"auto", "display":"block"});          
	      $("#loadingImage").show();       
	    }         
   </script>     
   <body>
   		
      <header>
<!--          <div class="page-header">
            <h1>Steam Friend Compare<small>See how much in common your friends have with
               you</small>
            </h1>
         </div> -->
      </header>
      <div id="content">
         <div class="hero-unit">
         	 <div class="page-header">
         	<h1>Steam Game Library Diff
         	</h1>
     		</div>
         <p>Insert the links of two steam profile pages in
            order to compare them.

			{% if error_message %}
			<div class="alert
			alert-error">
				{{ error_message }}</strong></p></div>
			{% endif %}            
            <form method="post" class="form-inline" action="/rateMyFriends/compare/">                 {% csrf_token %}
           
            
            <div class="control-group">
            	  <div class="input-prepend">
	            	<span class="add-on"><i class="icon-user"></i></span>
	            	<input type="text" id="userNameIcon" placeholder="Your Profile Link" name="username" />
	            </div>
            	 
	            <div class="input-prepend">
	            	<span class="add-on"><i class="icon-heart"></i></span>
	            	<input type="text"  id="inputIcon" placeholder="A Friend's Profile Link" name="friend" />
	            </div>
	             <input onclick="onClicked();" type="submit" value="Compare!" class="btn btn-primary btn-info"/>
	        </div>
           
         </form>

         <img src="http://safe-woodland-4385.herokuapp.com/media/images/loading.gif" id="loadingImage" style="display: none;">
         </p>
     	</div>
           
     	
     	<div id="screen-shot" style="display: inline-block;
      clear: both;padding: 10px;
      background-color: rgba(218, 236, 238, 0.83);">
     		
     	<div id="about" style="
      margin-left: auto;
      margin-right: auto;
      margin-bottom:20px;
      width: 60%;">
   
        <div style="float:left">
     		<h2 style="text-align:center">What is This?</h2>

        <p>I love Steam, but I have a problem that I run into very often. I never know what games to play with my friends. I spend hours pouring over our steam game libraries trying to find games we both play. I made this tool to make it easier to see what games we could play now and in the future. It is still very early in development and many more features are going to be added.</p>
     		<p>If you are interested in seeing more please fill in the links to the steam profiles you want to diff.</p>
      </div>

     		</div>
        <div class="caption">
        <ul class="thumbnails">
          <li class="span5">
            <img style="box-shadow: 5px 10px 5px #888;" src="http://safe-woodland-4385.herokuapp.com/media/images/screen.jpg">
          </li>
        </ul>
      </div>
     	</div>



        <!--  <h3>Work in Progress</h3>
         <p>Insert the link to your steam profile page in order to Rank Your Friends! (only works if their profile is public)</p>
         {% if error_message %}
         <div class="alert alert-error">
            {{ error_message }}</strong></p>
         </div>
         {% endif %}   
         <form method="post" action="/rateMyFriends/rank/">
            {% csrf_token %}
            	<input type="text" name="username" />
            <input onclick="onClicked();" type="submit" value="Rank!" />
         </form> -->
         <div id="modal"></div>
      </div>
   </body>
   <div id ="footer">
    Footer Content
  </div>
</html>