<html>
   <head>
      <title>Steam Friend Ranker</title>
      <link href="http://safe-woodland-4385.herokuapp.com/media/style/bootstrap.css" rel="stylesheet" type="text/css" />
      <link href="http://safe-woodland-4385.herokuapp.com/media/style/style.css" rel="stylesheet" type="text/css" />

      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
   </head>
   <script type="text/javascript">             
	   function onClicked(){ 
	      $("#loadingImage").css({"margin-left": "auto", "margin-right":"auto", "display":"block"});          
	      $("#loadingImage").show();       
	    }         
   </script>     
   <body>
      <header>
         <div class="page-header">
            <h1>Rank My Steam Friends<small>See how much in common your friends have with
               you</small>
            </h1>
         </div>
      </header>
      <div id="content">
         <h3>See what games you and another steam user have
            in common
         </h3>
         <p>Insert the link to 2 steam profile pages in
            order to compare them
         </p>
         {% if error_message %}
         <div class="alert
alert-error">                 {{ error_message }}</strong></p></div>
         {% endif %}                
         <form method="post" action="/rateMyFriends/compare/">                 {% csrf_token %}
            <input type="text" placeholder="Your Profile Link" name="username" />
            <input type="text" placeholder="A Friend's Profile Link" name="friend" />
            <input onclick="onClicked();" type="submit" value="Compare!" />
         </form>


         <img src="http://safe-woodland-4385.herokuapp.com/media/images/loading.gif" id="loadingImage" style="display: none;">
         
         <h3>Work in Progress</h3>
         <p>Insert the link to your steam profile page in order to Rank Your Friends! (only works if their profile is public)</p>
         {% if error_message %}
         <div class="alert alert-error">
            {{ error_message }}</strong></p>
         </div>
         {% endif %}   
         <form method="post" action="/rateMyFriends/rank/">
            {% csrf_token %}
           <!--  <input type="text" name="username" />
            <input onclick="onClicked();" type="submit" value="Rank!" /> -->
         </form>
         <div id="modal"></div>
      </div>
   </body>
</html>